<div class="errors text-center">
    <%= render 'shared/errors' %>
</div>

<div class="jumbotron formjumbo text-center">
    <div class="container">
        <%= form_with(model: @gamelist, local: true) do |x| %>
        <div class="form-horizontal">
            <%= x.label :title, class: "formlabel" %>
            <%= x.text_field :title, class: "form-row formtext", :size => 25 %>
        </div>
        </br>
        </br>
        <div class="form-horizontal">
            <%= x.label :description, class: "formlabel" %>
            <%= x.text_area :description, class: "form-row formtext", size: "70x5" %>
        </div>
        </br>
        </br>
        <div>
            <%= x.submit class: "btn btn-primary"%>
        </div>
        <% end %>
    </div>
</div>

<div class="text-center mb-3">
    <%= link_to '[ Cancel Edit ]', gamelists_path %>
</div>