<h1 class="text-center mt-3 mb-3"> <%= @gamelist.title %> </h1>

<div class="card showcard">
    <div class="card-body showcard-body">
        <p class ="text-center mt-3 mb-3"> <%= @gamelist.description %> </p>
    </div>
</div>

<div class="mt-3 ml-1 mr-1 text-center">
        <%= link_to 'Return to Game List', gamelists_path, class: "btn btn-dark" %>
        <%= link_to 'Edit Game Details', edit_gamelist_path(@gamelist), class: "btn btn-dark" %>
        <%= link_to 'Delete', gamelist_path(@gamelist), method: :delete, data: { confirm: ("Deleting #{@gamelist.title}. Are You Sure?")},  class: "btn btn-dark" %>
</div>